[2017-05-25 17:27] gamontoya opened #48 "Check status of Public Solr Index for PAS"
## Issue:
It looks like the Solr index for PAS is not working. I'm waiting this week for 5 public collections to be added to the list, but they did not show up today (Thursday, 05/25)

## Rationale:
Every month I submit new UCSD Digital Collections content to Calisphere for harvesting. The collections need to be added to the Sorl index in order for harvesting to be done.

## Collections in Questio

[2017-05-25 22:07] gamontoya opened #49 "Investigate and resolve ingest/indexing to production"
## Issue:

Two objects were ingested to production on 05/25/17 (curator-only) and have not shown up

**8:29 AM
bb06511831**

**10:22 AM
bb9968674d**

ActiveMQ showed no jobs in the queue.

I then used DAMS Manager to re-index the objects (and the collection) and although I got an email saying it was successful, I saw the following error:

![fail](https://cloud.githubusercontent.com/assets/4314914/

[2017-05-26 03:13] lsitu commented on #49
@rstanonik I think this error will occur when ActiveMQ restarted while tomcat for damsrepo hasn't been restarted properly. In this case, we had better restart tomcat for damsrepo (lib-hydratail-prod) for a clean run time environment, though you could reload config (http://lib-hydratail-prod:8080/dams/api/system/config) that could often make it work.

[2017-05-26 17:16] lsitu commented on #49
@gamontoya I've re-indexed those two objects, and they are showing up now:
http://library.ucsd.edu/dc/object/bb06511831
http://library.ucsd.edu/dc/object/bb9968674d

[2017-05-30 15:42] mcritchlow commented on #48
assigning to Longshou to investigate and re-index as needed.

[2017-05-30 17:38] #49 closed

[2017-05-30 17:59] lsitu commented on #49
@mcritchlow I also created PR https://github.com/ucsdlib/damsmanager/pull/149 to catch the failed status for SOLR index. It's ready for review now. Thanks.

[2017-05-30 18:51] lsitu commented on #48
@rstanonik How often do we sync the prod solr on lib-hydratail.prod:8983 to the public solr core lib-metadata? It looks like the solr index in lib-metadata is a little outdated and it's still running on SOLR 4 at this time.

[2017-06-12 16:56] gamontoya opened #50 "Data view stylesheet not working"
## Issue:
Cannot access data view of the following object

- https://librarytest.ucsd.edu/dc/collection/bd4590097p/data

Note that this is on staging.

## Error:
500Error transforming metadata2017-06-12T08:53:41-0700
javax.xml.transform.TransformerException: java.lang.RuntimeException: Invalid conversion from 'java.lang.String' to 'node-set'.
com.sun.org.apache.xalan.internal.xsltc.trax.Transforme

[2017-06-12 18:03] gamontoya opened #51 "Release 4.33"
**Descriptive summary**
Version: 4.33
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @jhriv

- https://github.com/ucsdlib/damsrepo/tree/release/4.33

[2017-06-12 21:50] lsitu commented on #51
@gamontoya DAMS Repo release 4.33 is ready on staging for review now. Thanks @jhriv for the nice work to make it deployable with playbook!

[2017-06-12 21:55] jhriv commented on #51
I can only reliably build - but only because I haven't figured out the Tomcat API for the entire deploy process.

[2017-06-12 22:04] lsitu commented on #51
Thanks for clarifying it, @jhriv. It'll be nice if it works for Java apps.

[2017-06-12 22:04] gamontoya commented on #51
@lsitu Approved for prod.

[2017-06-12 23:15] lsitu commented on #51
Thanks Gabriela.
@jhriv I've merged release/4.33 to the master branch and it's ready for prod now. Thanks.

[2017-06-14 15:47] lsitu commented on #50
@gamontoya It looks like there is an unknown authority record http://lib-hydratail-staging.ucsd.edu:8080/dams/api/objects/bd1654915c in the collection RDF somehow, which trigger the error.
@mcritchlow  I've updated the stylesheet to fix the error, see commit https://github.com/ucsdlib/damsrepo/commit/40ecd1d1826636ea2e1e6ca0df7c778023b11d75. It's ready for review now and we'll create a release for

[2017-06-14 16:16] gamontoya commented on #50
@lsitu Good detective work, Longshou!

[2017-06-14 16:34] mcritchlow commented on #50
@lsitu - The commit LGTM. Feel free to setup a PR, thanks 👍

[2017-06-14 16:44] lsitu commented on #50
@mcritchlow There's the commit for camel integration on the develop branch and I've rebased it last Friday when merging it back from release/4.33 to avoid conflicts when we need to make any changes again.
I am not sure what's the best way to do it in this case but PR may not work unless we want to deploy the camel integration at the mean time. Maybe we can do it the same way as what we did for las

[2017-06-15 16:41] jhriv commented on #51
Deployed

[2017-06-15 16:41] #51 closed

[2017-06-23 19:42] gamontoya commented on #48
@lsitu Is this closeable? Is the auto-synch in place?

[2017-06-23 19:47] rstanonik commented on #48
Yes, it will sync on the same schedule as before.

[2017-06-23 19:54] lsitu commented on #48
@gamontoya I think we can close it. If we need another manual sync out of the automatic sync  once the metadata is fixed for https://github.com/ucsdlib/damspas/issues/324, we can work it out there. Thanks @rstanonik.

[2017-06-23 20:01] #48 closed

[2017-06-23 20:12] gamontoya opened #52 "Release 4.34"
## Descriptive Summary ##
Version: 4.34
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @jhriv

- https://github.com/ucsdlib/damsrepo/tree/release/4.34

[2017-06-23 20:29] lsitu commented on #52
@jhriv I've created the release branch release/4.34. Could you deploy it to staging lib-hydratail-staging? Thanks.

[2017-06-23 20:50] rstanonik commented on #52
I deployed damsrepo release branch to lib-hydratail-staging.

The jenkins plan polls the repository for changes every five minutes now.

[2017-06-23 21:42] lsitu commented on #52
Thanks @rstanonik .
@gamontoya DMAS Repository release/4.34 is ready on staging for review now.

[2017-06-26 17:04] gamontoya commented on #50
@lsitu This looks good so I'm closing this ticket.

[2017-06-26 17:05] #50 closed

[2017-06-26 17:06] gamontoya commented on #52
@lsitu This is approved for prod.

[2017-06-26 17:45] lsitu commented on #52
Thanks Gabriela.
@rstanonik/@jhriv  I've merged release/4.34 to the master branch and it's ready for prod now. Thanks.

[2017-07-03 18:54] lsitu commented on #52
@rstanonik/@jhriv Have you got a chance to deploy damsrepo to prod? Thanks.

[2017-07-03 19:00] rstanonik commented on #52
No.  I can deploy it tomorrow morning.  Is that okay?  Or should I deploy it now?

[2017-07-03 19:01] lsitu commented on #52
I think tomorrow will be fine. Thanks @rstanonik .

[2017-07-03 19:05] rstanonik commented on #52
It will deploy to production tomorrow morning at 6:00am.

[2017-07-03 19:05] lsitu commented on #52
It sounds good. Thanks.

[2017-07-05 16:57] rstanonik commented on #52
It deployed

[2017-07-05 16:57] #52 closed

[2017-07-05 17:04] lsitu commented on #52
Thanks Ron.

[2017-07-07 20:24] mcritchlow opened #54 "Release 4.35"
## Descriptive Summary ##
Version: 4.35
Release Manager: @lsitu
Product Owner and Reviewers: @gamontoya
Operations: @jhriv

[2017-07-07 21:35] lsitu commented on #54
@gamontoya @hjsyoo The change related to [Dedupe collection titles in Research Data Collections](https://github.com/ucsdlib/damspas/issues/319) and [Change visibility to Independent Study Project collection](https://github.com/ucsdlib/damspas/issues/324) are deployed to staging (https://librarytest.ucsd.edu/damsmanager) and it's ready for review now. Thanks.

[2017-07-07 22:00] hjsyoo commented on #54
@lsitu Do you mean that the change was deployed to prod? I reviewed the first page of collections (http://library.ucsd.edu/dc/rdcp/collections) and they look good. Staging still has duplicate titles.

[2017-07-07 23:11] lsitu commented on #54
@hjsyoo No. We just move it to staging and I think we can import several CLRs to test it out through damsamanger https://librarytest.ucsd.edu/damsmanager. For those CLRs that have dup titles on prod, we may need to fix/remove it with the [RDF Import](https://library.ucsd.edu/damsmanager/rdfImport.do) tool, or our dev can fix them if you give us a list of CLRs that have the dup title issue. Thanks.

[2017-07-11 17:46] lsitu commented on #54
@hjsyoo Are you able to ingest a new CLR on staging?

[2017-07-11 17:58] gamontoya commented on #54
@lsitu This can get pushed to prod once you get confirmation from Ho Jung.

[2017-07-11 18:16] remerjohnson commented on #54
@lsitu @gamontoya I can do those tests... I ingested a new CLR and it looks fine. https://librarytest.ucsd.edu/dc/collection/bd8583448p/data

The form doesn't let you enter a Title, so that's a pretty effective fix. I can test more if you like.

[2017-07-11 18:21] hjsyoo commented on #54
@remerjohnson Could you ingest it again, but include a Date Issued and remove the existing DOI from Cite this Work to make sure it's not a blocker to minting a test DOI?

[2017-07-11 18:37] remerjohnson commented on #54
@hjsyoo that should be showing up now

[2017-07-11 18:40] hjsyoo commented on #54
I just tested the DOI minter and there's no duping in EZID. We're good to go! Thank you @lsitu and @remerjohnson

[2017-07-11 18:51] lsitu commented on #54
Thank you very much @hjsyoo @remerjohnson .

@rstanonik @jhriv I've merged the changes to the master branch and the deployment is ready for prod now. Thanks.

[2017-07-11 19:03] rstanonik commented on #54
I scheduled it to deploy to production tomorrow morning at 6:00am

[2017-07-11 19:15] lsitu commented on #54
Thanks @rstanonik .

[2017-07-12 17:00] rstanonik commented on #54
It deployed this morning at 6:00am

[2017-07-13 16:33] hjsyoo commented on #54
@rstanonik @lsitu Thank you, the Dedupe collection titles in Research Data Collections issue has been fixed on prod, for both the RDF and EZID.

[2017-07-13 16:43] #54 closed

[2017-08-11 20:16] mcritchlow opened #56 "Release 4.36"
## Descriptive Summary ##
Version: 4.36
Release Manager: @VivianChu
Product Owner and Reviewers: @gamontoya
Operations: @jhriv or @rstanonik

[2017-08-11 20:20] VivianChu commented on #56
@jhriv - The release branch has been merged into the master branch.  Could you deploy it to production at your earliest convenient?  Thanks

[2017-08-16 14:21] jhriv commented on #56
Deployed via Jenkins

[2017-08-16 14:21] #56 closed

[2017-09-21 22:04] arwenhutt opened #57 "Addition of two roles to DAMS"
We would like to request the addition of two new role values:
- Co-Director
- Associate Director

These do not map to an external vocabulary so just need local arks, along the lines of how "principal investigator":
[code]
I don't think we use the mads:code anywhere but if it's required by the system then we can use "cdr" (for Co-Director) and "adr" (for Associate Director)

[2017-09-21 22:09] gamontoya commented on #57
@VivianChu Is this something you can do or does this require Longshou?

[2017-09-21 22:15] lsitu commented on #57
@gamontoya @VivianChu I have one day break from the Fedora Sprint next Monday, and I think I can do it.

[2017-09-22 03:12] gamontoya commented on #57
@lsitu Thank you Longshou. I'll assign to you.

[2017-09-22 15:14] lsitu commented on #57
@gamontoya Sure. I'll work on it next Monday.

[2017-09-25 23:26] lsitu commented on #57
@arwenhutt I've added those two roles you need to prod:
Co-Director: http://library.ucsd.edu/ark:/20775/bb67265096 (http://lib-hydratail-prod.ucsd.edu:8080/dams/api/objects/bb67265096)
Associate Director: http://library.ucsd.edu/ark:/20775/bb5429571b (http://lib-hydratail-prod.ucsd.edu:8080/dams/api/objects/bb5429571b)

[2017-09-27 17:37] arwenhutt commented on #57
Thanks @lsitu !  I verified that these are showing up/usable in production.  Since this was a rush request, I'm assuming they have not been added to the excel ingest tool in dams manager and we should create a separate ticket for that?

[2017-09-27 22:46] lsitu commented on #57
@arwenhutt I think either creating a new ticket or updating the description text in this ticket for the new support in damsmanager will work.

[2017-09-29 16:54] arwenhutt commented on #57
Closing this ticket, we'll create a new one for the ingest updates.

[2017-09-29 16:54] #57 closed

[2018-04-05 18:10] gamontoya opened #59 "Release 4.37"
### Descriptive Summary

- Version: 4.36
- Release Manager: @lsitu
- Product Owner and Reviewer: @gamontoya
- Operations: @jhriv or @rstanonik

-------------------------

### Related Work
- [ ] https://github.com/ucsdlib/damspas/issues/416 Implement metadata-only visibility rules for UCSD IP only collections

-------------------------

### Notes

**TO BE RELEASED TO STAGING ONLY AT THIS TIME**

[2018-04-05 18:11] gamontoya commented on #59
@lsitu Please reference the tickets here that this release addresses.

[2018-04-05 19:58] lsitu commented on #59
@gamontoya Sure. The related ticket is added to the description text.

[2018-06-07 18:15] gamontoya commented on #59
NOTE: Leave open until testing is completed (with full test plan).

[2018-06-12 17:51] lsitu opened #62 "Update Tomcat configuration for database connection pooling"
### Descriptive summary
Update Tomcat configuration (server.xml) for database connection pooling on staging to use the following settings as QA:
initialSize="20" maxActive="100" minIdle="20"

### Rationale
We've updated the Tomcat configuration on QA for database connection pooling that could improve the damsrepo performance for file downloads. We want to monitor and test it on staging to make sur

[2018-06-12 18:02] lsitu commented on #62
@rstanonik When you get a chance, could you update tomcat configuration on Staging for database connection pooling? We want to test it there a little bit before making the change on prod. Thanks.

[2018-06-13 04:46] rstanonik commented on #62
I updated staging tomcat with the values you gave and restarted the tomcat

[2018-06-14 21:09] lsitu commented on #62
@mcritchlow  While setting up the database connection pooling on staging, we found that the size of database connection pool on QA and staging are only 8. It even won't reach the tomcat default size 10 though we set it to 20. @rstanonik and I are trying to see why we can't get more established connections. But we do see QA and staging behave differently due to the hardware resource allocated. On s

[2018-06-14 21:17] mcritchlow commented on #62
@lsitu good question. I think that the `send_file` work that @jhriv and I are working on is looking very promising for handling file downloads. We've nearly completed our proof of concept, and are now testing the proxying setup that we have with damspas. I think it's safe to say we're both optimistic at this point that it's going to solve _that_ problem.

That said, I wonder if you think that adju

[2018-06-14 21:20] rstanonik commented on #62
I found that setting maxIdle="20" was also required, then the active number of connections became 20, as measured by "netstat -tn | grep EST| grep 5432"

[2018-06-14 21:25] lsitu commented on #62
@rstanonik That's great! Wondering why the default maxIdle="100" doesn't work though.
@mcritchlow It sounds good. We'll test it on staging to see how it goes.

[2018-07-11 15:38] lsitu opened #63 "Inspect and fix the javax.jms.IllegalStateException with SOLR index request"
### Descriptive summary
Inspect and fix the issue of javax.jms.IllegalStateException that cause the failure of adding items for SOLR index.
See @rstanonik's comment on slack dams channel:
[code]
### Rationale
This happened several times in the past when damsmanager requested SOLR, which caused solr not being updated for the objects ingested or edited.

[2018-07-17 18:40] lsitu commented on #63
@mcritchlow I've added PR https://github.com/ucsdlib/damsrepo/pull/64 above for it. Thanks.

[2018-07-17 20:10] #63 closed

[2018-09-07 22:50] gamontoya commented on #59
@lsitu Can this be deployed to prod as well?

[2018-09-07 22:52] lsitu commented on #59
@gamontoya Yes, I think we've tested it fully for metadata-only display.

[2018-09-07 22:53] lsitu commented on #59
@rstanonik The changes are all in the master branch and we are ready to move it prod along with damspas release 1.82. Thanks.

[2018-09-13 18:14] gamontoya opened #66 "Update access controls for UC Regents"
### Descriptive summary

Currently, all objects with copyright UC Regents are made public by default. Update the rules to allow for UC Regents and metadataDisplay override.

### Note
- Also update the access control rule setup in DAMS Manager

[2018-09-13 18:27] gamontoya commented on #59
@lmcphee @rstanonik Was this done? Closeable?

[2018-09-13 18:31] lsitu commented on #59
@gamontoya Yes, I think the deployment is done and we can close it.

[2018-09-13 19:44] gamontoya commented on #66
Note: apparently already working with the latest changes to access control rules/overrides.

[2018-09-13 19:44] #66 closed

[2018-09-13 19:52] gamontoya commented on #59
@lsitu Yay!

[2018-09-13 19:52] #59 closed

[2018-09-17 19:22] lsitu opened #67 "R&D: Replace Jhove with FITS and other tools to support more file types"
### Descriptive summary
Propose a solution to replace Jhove with FITS and other tools to support more file types in general.

### Rationale
We've used Jhove in DAMS to extract technical metadata for many years, while the file formats supported by Jhove are very limited. This ticket is to explore the solution to replace Jhove with FITS and/or other tools for more general file type supports.

[2018-09-28 16:04] lsitu commented on #67
@gamontoya I found FITS can extract some metadata related to quality from videos/audios. In this case, we may not need to run FFMPEG. Is it possible to assemble the quality value from the following fields of a .mov file:
[code]

[2018-09-28 18:04] #62 closed

[2018-10-01 18:43] lsitu commented on #67
@gamontoya / @mcritchlow I see FITS may report conflict results from different tools. So far I am seeing it in `<identification>` and `<fileinfo>` sections. For example, we could get the following result for `<identification>` with a mp4 video:
[code]

We have the option to turn off conflict outputs to just allow single result, but I see that may lost outputs from other tools in section like `<met

[2018-10-01 22:06] gamontoya commented on #67
@lsitu I'm not sure we would want to turn off `CONFLICT`, and I like what you're proposing. However, let me ask @arwenhutt for her opinion.

[2018-10-02 17:52] arwenhutt commented on #67
@gamontoya @lsitu I don't really understand what a "conflict output" is or what the implications are.  I think Tori Manches (she might need to be invited to GitHub) and @stelnabli know more about the tools and technical info - so would probably understand better.

[2018-10-02 18:12] lsitu commented on #67
@arwenhutt What I am understanding for `conflict output` here is that the set of tools used by FITS to extract technical metadata give different results for a field like `mimetype`. In the above example, we got three results for mimetype with the mp4 video tested:
MediaInfo:  video/quicktime
Droid:        application/mp4, video/mp4
file utility:  video/mp4

So I think we may need to decide which r

[2018-10-02 18:27] stelnabli commented on #67
@arwenhutt @gamontoya @lsitu Arwen, that's correct. Tools and format tree be customized in config file to avoid conflict reports. https://projects.iq.harvard.edu/fits/fits-configuration-files.

Related FITS/techMD research: https://github.com/ucsdlib/dams-metadata/issues/69#issuecomment-419588278 & https://goo.gl/iuJGD3

[2018-10-02 18:47] lsitu commented on #67
Thanks @stelnabli. I've tested that single result and even tried to re-order the order of the conflict outputs. I see it may lost information that could be extracted by other tools if I configure it to use the singe result.
I think the question is going back to my origin comment https://github.com/ucsdlib/damsrepo/issues/67#issuecomment-426018077 now. Do we want to have a single result that may co

[2018-10-02 19:33] stelnabli commented on #67
@lsitu I'm cautious like you've mentioned about losing information that can be extracted by other tools when one tool may be better than another for a particular file format. So I think caution would support selectively choosing the result rather than having a single result that may lead to loss of info. I do not know practical examples from others' experience using FITS, would be good to find out

[2018-10-02 22:22] arwenhutt commented on #67
_happily defers to those who know more about technical metadata_

[2018-10-02 22:38] tmaches commented on #67
I like the idea of selectively choosing the result, too, since like @stelnabli said one tool might work better than another depending on the format. I'd also like to know about others' experiences with FITS, since more of my experience has been in trying to implement it, and less how things are long-term after implementation.

[2018-10-02 22:49] lsitu commented on #67
@vmaches Thank you very much for your inputs.

[2018-10-02 23:20] lsitu commented on #67
@gamontoya / @mcritchlow I've implemented the solution to replace Jhove with FITS and other tools like FFMPEG. I see it an addition with much more file types support than Jhove with the following questions open:
1. How are we going to handle those conflict results from FITS? Currently I've implemented it to choose it from Jhove, ExifTool, File Utility in order if it exists. Otherwise, the first va

[2018-10-05 18:17] lsitu commented on #67
@gamontoya / @mcritchlow I think the approach to replace Jhove with FITS and other tools are ready for review and evaluation, see PR https://github.com/ucsdlib/damsrepo/pull/68.

[2018-10-12 20:15] gamontoya opened #69 "Release 4.38"
### Descriptive Summary

- Version: 4.38
- Release Manager: @lsitu
- Product Owner and Reviewer: @gamontoya
- Operations: @jhriv or @rstanonik

-----
### Related Work
- [ ] #67 R&D: Replace Jhove with FITS and other tools to support more file types

[2018-10-15 16:17] #67 closed

[2018-10-15 17:53] lsitu commented on #69
@rstanonik / @jhriv Could we install FITS 1.3.0 on QA and Staging? And we may need to install it on prod once we decide to move the release forward to prod.
And we need to add the following configuration to dams.properties:
https://github.com/ucsdlib/private_config/blob/develop/damsrepo/staging/dams.properties#L34-L37
Note that `characterization.fits.command = /usr/local/bin/fits` is the path to F

[2018-10-15 20:06] rstanonik commented on #69
On which server, hydrahead or hydratail?

[2018-10-15 20:58] lsitu commented on #69
@rstanonik We need to install it on hydratail. And damsrepo will run the FITS process.

[2018-10-15 21:20] rstanonik commented on #69
I installed it on lib-hydratail for qa, staging, and prod.
The path to the FITS directory is
/usr/local/fits

[2018-10-16 16:30] rstanonik commented on #69
So, I set
characterization.fits.command=/usr/local/fits/fits.sh
Correct?

[2018-10-16 17:25] rstanonik commented on #69
I added fits to qa and restarted the tomcat on lib-hydratail-qa

[2018-10-16 17:33] lsitu commented on #69
@rstanonik That's correct. And I think you can setup symlink for it if you want. Thanks.

[2018-10-16 17:50] rstanonik commented on #69
I did the following
cd /usr/local
mkdir fits-1.3.0
ln -s fits-1.3.0 fits
cd fits
unzip /usr/local/src/fits-1.3.0.zip
chmod 755 fits.sh

Which I got from
https://projects.iq.harvard.edu/fits/get-started-using-fits

[2018-10-16 17:51] rstanonik commented on #69
I added to staging
characterization.fits.command=/usr/local/fits/fits.sh
and restarted the tomcat.

I added to production
characterization.fits.command=/usr/local/fits/fits.sh
but haven't not restarted the tomcat yet.

[2018-10-16 18:04] lsitu commented on #69
@rstanonik That looks good. Thanks.
Can we also add line `# characterization.fits.config = /pub/data2/dams/fits.xml` as the place holder for future use?

[2018-10-16 18:07] rstanonik commented on #69
You want that commented out for now?  (leading #)

[2018-10-16 18:30] lsitu commented on #69
Yes. Just comment it out for now and the default one in the source code will be used. But in the future, we can use it to configure FITS.

[2018-10-16 18:37] rstanonik commented on #69
I added
 \# characterization.fits.config = /pub/data2/dams/fits.xml
to qa, staging, and prod, but since it is commented out, I didn't restart any tomcats.

By the way, although I made the fits change above to production, I didn't restart the tomcat yet.

[2018-10-16 19:01] lsitu commented on #69
Thanks @rstanonik .

[2018-10-16 19:20] lsitu commented on #69
@gamontoya I think damsrepo release 4.38 is ready for review on staging and QA now. Thanks.

[2018-10-16 23:56] gamontoya commented on #69
@lsitu This can be pushed to prod too.

[2018-10-17 00:14] lsitu commented on #69
Thanks @gamontoya.
@rstanonik The changes for the release are already on the master branch. And we are ready to move it to prod now. Thanks.

[2018-10-17 13:20] rstanonik commented on #69
damsrepo was deployed to production this morning and the tomcat on lib-hydratail-prod was restarted

[2018-10-17 15:07] lsitu commented on #69
Thanks @rstanonik.

[2018-10-18 15:49] #69 closed

[2018-11-10 02:30] gamontoya opened #71 "Release 4.39"
## Descriptive Summary
- Version: 4.39
- Release Manager: @lsitu
- Product Owner and Reviewer: @gamontoya
- Operations: @jhriv or @rstanonik
---
## To Verify

- [x] #70 Fixes ucsdlib/damsmanager #262

[2018-11-13 23:29] lsitu commented on #71
@gamontoya Release 4.39 for damsrepo is ready on staging for review now Thanks.

[2018-11-14 00:24] gamontoya commented on #71
@lsitu This too can be pushed to prod.

[2018-11-14 00:41] lsitu commented on #71
@rstanonik DAMS Repo Release 4.39 is ready for prod as well. Thanks.

[2018-11-14 15:48] rstanonik commented on #71
DAMS Repo was deployed to production this morning, including a tomcat restart

[2018-11-14 16:30] lsitu commented on #71
Thanks @rstanonik.

[2018-11-14 18:49] gamontoya commented on #71
Thank you guys @lsitu @rstanonik

[2018-11-14 18:49] #71 closed

[2018-11-26 23:42] gamontoya opened #72 "Delete"
From damsrepo created by [gamontoya](https://github.com/gamontoya) : ucsdlib/damsrepo#71

## Descriptive Summary
- Version: 4.40
- Release Manager: @lsitu
- Product Owner and Reviewer: @gamontoya
- Operations: @jhriv or @rstanonik
---
## To Verify

- [ ] Deploy private_config

[2018-11-26 23:42] gamontoya commented on #71
Kamino cloned this issue to [ucsdlib/damsrepo](https://github.com/ucsdlib/damsrepo/issues/72)

[2018-11-26 23:44] gamontoya commented on #72
@lsitu Do we also `version` private_config?

[2018-11-26 23:51] #72 closed

[2019-01-03 19:07] VivianChu opened #73 "Add update DOI function"
### Descriptive summary

Add an update DOI button in the DAMS.

### Rationale

We do indeed need to update the EZID records fairly often, and this would save us a lot of time.

### Expected behavior

There will be a link to Update DOI.

### Actual behavior

We don't have it yet.

### Related work

https://github.com/ucsdlib/damspas/issues/568

[2019-01-03 23:59] hjsyoo commented on #73
@VivianChu One thing I wanted to ask since you're working on the minting function - there's an odd URL that gets added to the EZID record (https://ezid.cdlib.org/id/doi:10.6075/J03N21P2; see Alternative identifiers):
![image](https://user-images.githubusercontent.com/10660549/50667830-24d1e500-0f70-11e9-94ee-9a858ce7157a.png)
When I go to this URL, however, I get an error page:
![image](https://us

[2019-01-04 00:11] VivianChu commented on #73
@hjsyoo - I can remove it from the Mint DOI and update DOI function.  I see that field also exists for other old EZID record https://ezid.cdlib.org/manage/display_xml/doi:10.6075/J0D21VRF  https://ezid.cdlib.org/id/doi:10.6075/J0D21VRF .  I'm not sure if that field is needed or useful.  Let me know if you still want me to remove it.  Thanks

[2019-01-04 00:35] hjsyoo commented on #73
@VivianChu If that field doesn't serve a purpose for you, then please remove it from both the Mint DOI and update DOI functions. Thank you!

[2019-01-04 00:37] hjsyoo commented on #73
@arwenhutt Pinging you here, just to make sure that I'm not missing something about the Alternative identifier field that has been getting added to the EZID records?

[2019-01-05 00:54] VivianChu commented on #73
@hjsyoo - Alternative Identifier field has been removed from Mint DOI and Update function.  For example - https://ezid.cdlib.org/id/doi:10.5072/FK26D5XN6H
Update DOI function has been added.  All of these changes have been deployed to staging.  I tried to add "Test" to the title and click the Update DOI link.  Here are some screen shots.

- Before DOI Update

![beforedoiupdate2](https://user-image

[2019-01-07 22:11] hjsyoo commented on #73
@VivianChu This looks good to me. To clarify, we will need to push the update DOI button for every object in https://library.ucsd.edu/dc/collection/bb29737300, right? I have two thoughts here - 1) Can you change the button label to "Update DOI record" (since we're not changing the DOI itself), and 2) it occurred to me that we ought to have the geographic data added to the DOI record as well, befor

[2019-01-07 22:23] VivianChu commented on #73
@hjsyoo - Sounds good.  I'll change the button label and make a request to get it deployed.  I'll keep you posted.  Thanks

[2019-01-07 22:32] hjsyoo opened #74 "Add geolocation data to DOI functions"
For both the Mint DOI and Update DOI Record functions, push geographic coordinate data from the DAMS record to the EZID record.

Point
In the DAMS, points are listed as a pair of values: latitude, longitude. EZID has a separate labeled field for each of these values.

Line
In the DAMS, I believe a line is indicated by two pairs of latitude-longitude values. In EZID, I suspect a line can be indicat

[2019-01-07 23:50] gamontoya commented on #74
@VivianChu Do you want to work on this one after you're done with #73 ?

[2019-01-07 23:58] VivianChu commented on #74
@gamontoya - Yes, I want to work on this after I'm done with other ticket. Thanks

[2019-01-10 17:06] #73 closed

[2019-01-10 18:15] gamontoya opened #76 "Release 4.40"
## Descriptive Summary

- Version: 4.40
- Release Manager: @lsitu
- Product Owner and Reviewer: @gamontoya
- Operations: @jhriv or @rstanonik
--------------
## To Verify

- [ ] #73 Add update DOI record function
- [ ] #75 Add update DOI record function

[2019-01-10 18:24] VivianChu commented on #76
@jhriv - Could you deploy this new release to production at your earliest convenient?  Thanks

[2019-01-11 14:43] rstanonik commented on #76
damsrepo was deployed to production this morning

[2019-01-11 14:44] rstanonik commented on #76
tomcat was restarted after deploy

[2019-01-11 16:38] VivianChu commented on #76
Thanks Ron

[2019-01-11 16:38] #76 closed

[2019-01-14 18:54] VivianChu commented on #74
@hjsyoo @gamontoya - I updated the functions to push point and polygon to the EZID record.
For example
//point
https://ezid.cdlib.org/id/doi:10.6075/J0JS9NCJ
https://librarytest.ucsd.edu/dc/object/bb7886108t

//polygon
https://ezid.cdlib.org/id/doi:10.5072/FK26D5XN6H
https://librarytest.ucsd.edu/dc/object/bd3400394d

For the record with line - which fields from EZID record should I use?
https://li

[2019-01-14 21:35] hjsyoo commented on #74
@VivianChu Thanks for the question - I didn't realize that DataCite/EZID doesn't handle lines. I checked with Greg Janee, and he recommends using the bounding box to depict the general region of the line. This would be easy to compute just by taking the max and min of all the latitude and longitude values in the set (i.e., westbounding = minimum longitude; eastbounding = maximum longitude). If we

[2019-01-15 17:55] VivianChu commented on #74
@hjsyoo - Is this correct - southBoundLatitude=minimum lat and northBoundLatitude = maximum lat?  I think there's a way to apply a conditional that you mentioned above.  Thanks

[2019-01-15 19:32] hjsyoo commented on #74
@VivianChu Yes, that's correct. Latitudes don't require a conditional, except at the poles (+90/-90). But if we encounter one of those exceptions, I think it's so complicated that it's better to cross the bridge when we get to it!

[2019-01-16 20:49] hjsyoo commented on #74
@VivianChu I just realized that the conditional rule for longitudes is a little more complicated than I described above. Let's set the rule that IF max(long)-min(long) <= 180, THEN westBounding = min(long) AND eastBounding = max(long). ELSE IF max(long)-min(long) > 180, THEN westBounding = max(long) AND eastBounding = min(long). I believe this makes the assumption that the bounding box encompassin

[2019-01-16 20:55] VivianChu commented on #74
@hjsyoo - The new conditional rule is easier.  I got the line working fine without the rule.  For example - https://ezid.cdlib.org/id/doi:10.5072/FK26D5XN6H
Do you have example set of points in the line that I can use to test that new conditional rule?  Thanks

[2019-01-16 21:12] hjsyoo commented on #74
@VivianChu Easier is good! Here's an example that you can test.
https://librarytest.ucsd.edu/dc/object/bd0362823k.
It's actually a polygon, but you can probably test it anyway? Note that Leaflet draws the polygon incorrectly - it wraps around the globe the long way.
I have it on my to-do list to fix this problem for the DAMS as well!

[2019-01-16 21:25] VivianChu commented on #74
@hjsyoo - For the example above with this set - -36.1612,-176.102996826172 -36.1612,174.787994384766 -45.8515,174.787994384766 -45.8515,-176.102996826172 -36.1612,-176.102996826172
The transform result is this:
westBounding = max(long) AND eastBounding = min(long)

<geoLocationBox>
<westBoundLongitude>174.787994384766</westBoundLongitude>
<eastBoundLongitude>-176.102996826172</eastBoundLongitude>

[2019-01-16 21:34] hjsyoo commented on #74
@VivianChu  The record looks the same as the previous example. I see this:
[box (W=-118.9339981, E=-117.1340027, S=32.5834999, N=34.044899)]
Maybe it hasn't updated yet?

[2019-01-16 21:36] hjsyoo commented on #74
@VivianChu I think I misunderstood. Yes, the transformed result looks correct!

[2019-01-16 21:42] VivianChu commented on #74
@hjsyoo - That transform result is from my local.
The record looks the same because I haven't update the record to use the polygon line set you gave
https://librarytest.ucsd.edu/dc/object/bd3400394d
Let me update the record and push the update button.  I'll let you know when it get updated.

[2019-01-16 22:04] VivianChu commented on #74
@hjsyoo - I updated that dams record to use the line set you gave and here's the ezid record https://ezid.cdlib.org/id/doi:10.5072/FK26D5XN6H

Geolocations: [box (W=174.787994384766, E=-176.102996826172, S=-45.8515, N=-36.1612)]

[2019-01-16 22:20] hjsyoo commented on #74
Perfect. Thank you @VivianChu

[2019-01-17 18:05] #74 closed

[2019-01-17 18:06] gamontoya opened #78 "Release 4.41"
## Descriptive Summary

- Version: 4.41
- Release Manager: @VivianChu
- Product Owner and Reviewer: @gamontoya
- Operations: @jhriv or @rstanonik
--------------
## To Verify

- [ ] Add geolocation data to DOI functions #74

[2019-01-17 18:06] gamontoya commented on #76
Kamino cloned this issue to [ucsdlib/damsrepo](https://github.com/ucsdlib/damsrepo/issues/78)

[2019-01-17 18:14] VivianChu commented on #78
@rstanonik - Could you deploy this new release to production at your earliest convenient? Thanks

[2019-01-22 17:22] VivianChu commented on #78
It has been deployed to prod by Ron.

[2019-01-22 17:22] #78 closed

[2019-01-22 18:07] VivianChu commented on #74
@hjsyoo - The update has been deployed to production.

[2019-02-15 22:51] gamontoya opened #81 "Release 4.42"
## Descriptive Summary

- Version: 4.42
- Release Manager: @lsitu
- Product Owner and Reviewer: @gamontoya
- Operations: @jhriv or @rstanonik
--------------
## To Verify

- [ ]  #80
- [ ] #79

[2019-02-15 22:51] gamontoya commented on #78
Kamino cloned this issue to [ucsdlib/damsrepo](https://github.com/ucsdlib/damsrepo/issues/81)

[2019-02-15 22:54] gamontoya commented on #81
@lsitu Feel free to ask Ron or John to deploy Tuesday morning today since you'll be out for Code4Lib next week.

[2019-02-16 00:00] lsitu commented on #81
@gamontoya / @hjsyoo  I've deployed release 4.42 to staging. It's ready for review now. Could we review the above two ticket by testing the mint DOI function and the update DOI function? Thanks.

[2019-02-16 00:33] gamontoya commented on #81
@hjsyoo Are you able to test minting DOIs and updating them on the `staging` environment?

[2019-02-17 23:43] hjsyoo commented on #81
@remerjohnson To properly test this deploy, we'll need a couple of RDF edits in staging. Can you add a dummy Preferred Citation (with no DOI) and Date:Issued (if missing) to these objects:
Scripps CO2: https://librarytest.ucsd.edu/dc/object/bb32791536
CalCOFI: https://librarytest.ucsd.edu/dc/object/bb6213315c
CCDB: https://librarytest.ucsd.edu/dc/object/bb0753405q
You can use this template for the

[2019-02-20 17:55] gamontoya commented on #81
@remerjohnson @hjsyoo Let me know when this testing is done. I can't push this to production until I get confirmation you tested and it's working.

[2019-02-20 18:08] remerjohnson commented on #81
@gamontoya Gotcha. I am unable to log in to staging DAMSManager at the moment on either of my browsers...

Update: getting on the VPN worked

[2019-02-20 18:53] hjsyoo commented on #81
@gamontoya Testing now. Do we need to do an RDF edit before I update the DOI record? Or can I just push the button? I'm wondering if the Update function first looks for changes, or if it just pushes the metadata again. If it's the latter, we probably don't need to edit anything?

[2019-02-20 18:56] gamontoya commented on #81
@hjsyoo I have no idea. Try both.

[2019-02-20 20:11] hjsyoo commented on #81
@gamontoya @remerjohnson It looks like the fix now generates expected behavior! The testing followed this sequence:
1. Ryan added required fields to the 3 objects
2. I clicked on Mint DOI and took screenshots of the EZID records, obj pages, and coll pages.
3. Ryan edited 2 of the objects
4. I clicked on Update DOI record and took screenshots of the EZID records, obj pages, and coll pages.

The col

[2019-02-20 20:26] gamontoya commented on #81
@hjsyoo @remerjohnson Let's check things tomorrow morning after a full nightly re-index.

[2019-02-21 21:47] gamontoya commented on #81
@lsitu Let's go ahead and push to production.

@hjsyoo @remerjohnson I assume you checked this morning (stage) and all looks good.

[2019-02-21 21:57] lsitu commented on #81
@rstanonik The changes for Release 4.42 for damsrepo is in the master branch already. So we are ready to move it to prod now. Could you deploy it tomorrow morning during your regular deployment window? I think we just need to restart tomcat on lib-hydratail-prod after you deploy it. Thank you.

[2019-02-22 14:43] rstanonik commented on #81
damsrepo deployed to prod this morning and the tomcat was restarted

[2019-02-22 16:14] lsitu commented on #81
Thanks @rstanonik .

[2019-03-15 16:33] mcritchlow opened #82 "PDF/Tika full text extraction errors"
During VRR testing, @mdpeters has noticed several objects with PDF/document files attached that are failing when Tika is trying to do full text extraction.

We need to determine whether this can be solved by a newer version of FITS/Tika or?

Example: https://notch8.slack.com/files/U045L1LF7/FGSGWKKHV/-.html

[code]

[2019-03-15 16:41] mdpeters commented on #82
Failing PDF objects in staging:
https://librarytest.ucsd.edu/dc/object/bd3707665r
https://librarytest.ucsd.edu/dc/object/bd4390265d
https://librarytest.ucsd.edu/dc/object/bd8417403t (complex object that contains a PDF as well as audio)

[2019-03-18 21:59] lsitu commented on #82
@mcritchlow I am unable to replicate the error locally in my MAC. I'll try to upgrade Tika to [version 1.20](https://tika.apache.org/1.20/index.html) and upgrade PDFBox to latest 2.0.13 to see how it goes. Does it sounds good?
@mdpeters Are all those PDFs in trouble containing image files with no fulltext at all? Will it work if adding text to the PDFs? Thanks.

[2019-03-18 22:59] mcritchlow commented on #82
@lsitu - That sounds good to me :+1:

[2019-03-19 13:38] mdpeters commented on #82
@lsitu - Only one of those PDF files should be image only (https://librarytest.ucsd.edu/dc/object/bd3707665r), I created two of those PDFs specifically for testing, one without text, on with, and the third we know has text as it's a transcript.

[2019-03-19 22:11] #81 closed

[2019-03-20 18:05] lsitu commented on #82
@mcritchlow I think PR https://github.com/ucsdlib/damsrepo/pull/83 is ready to review now. Thanks.

[2019-03-20 22:48] lsitu commented on #82
@gamontoya Could we create a new release for damsrepo so that @mdpeters can test it on staging? Thank you.

[2019-03-25 20:56] gamontoya opened #84 "Release 4.43"
## Descriptive Summary

- Version: 4.43
- Release Manager: @lsitu
- Product Owner and Reviewer: @gamontoya
- Operations: @jhriv or @rstanonik
--------------
## To Verify

- [ ]  #82 - PDF/Tika full text extraction errors
- [ ] #83 - Upgrade to Tika 1.20 to fix the PDF full text extraction errors
- [ ] #85 - Updated dsControlGroup with value M for content files.

[2019-03-25 20:56] gamontoya commented on #81
Kamino cloned this issue to [ucsdlib/damsrepo](https://github.com/ucsdlib/damsrepo/issues/84)

[2019-03-25 21:18] lsitu commented on #84
@rstanonik I've created the new release 4.43 for damsrepo and it was deployed to staging by the Jenkins plan. However, I am seeing the same error as what I'd seen in QA last week:
[code]
Could you delete the /usr/local/tomcat/webapps/dams folder from staging tomcat and redeploy it again? Thanks.

[2019-03-26 16:06] lsitu commented on #84
@rstanonik Have you got a chance to take a look at the deployment issue on staging? As what we observed in QA, I think the Jenkins plan didn't make a clean deployment and the stale jars are still there in /usr/local/tomcat/webapps/dams/WEB-INF/lib. We may need to delete the `dams` folder in tomcat /usr/local/tomcat/webapps/dams. Thanks.

[2019-03-26 18:52] rstanonik commented on #84
@lsitu I thought the problem in QA was that the branch had the stale jars.  The content of WEB-INF/lib contained only the jar which came in the war.  I'll check staging to see if the same thing happened.

[2019-03-26 18:59] rstanonik commented on #84
@lsitu I just checked staging.  WEB-INF/lib only contains jars which were in dams.war.  It seems to have built using refs/tags/4.43.  Which branch or tag should jenkins have used for staging?

[2019-03-26 19:21] rstanonik commented on #84
@lsitu I think the problem was that jenkins had the stale jars.  I change the jenkins plan to "Delete the workspace before the build starts" and I deployed again to staging.  There are now fewer jars in WEB-INF/lib.  Let me know if that fixed it.

[2019-03-26 21:16] lsitu commented on #84
I see it works now. Thanks @rstanonik.

[2019-03-26 21:18] rstanonik commented on #84
I chnaged all of the jenkins plans to now "Delete the workspace before build starts".  Buillds will be a little slower, but this problem shouldn't occur for anymore for any build.

[2019-03-26 21:20] lsitu commented on #84
@gamontoya I think damsrepo release 4.43 is ready for review on staging now. This will fix the PDF problem we seem eariler. @mdpeters Would you test it to see whether it works for your PDF files or not? Thank you.

[2019-03-27 20:07] mdpeters commented on #84
@lsitu it looks like the PDF problem is fixed, at least the process we thought was being hung up by Tika isn't hanging anymore.

[2019-03-27 21:45] lsitu commented on #84
Thanks @mdpeters for testing it out.
@gamontoya It seems like we are ready to move the new release to prod. What do you think?

[2019-04-01 22:45] mcritchlow opened #85 "All Fedora datastreams are marked as XML"
This issue came up with the Notch8 VRR work.

Essentially, the value of the Fedora datastream `dsControlGroup` for a given datastream is [hard-coded](https://github.com/ucsdlib/damsrepo/blob/develop/src/xsl/fedora-datastream-profile.xsl#L26) in our `fedora-datastream-profile` as `X` which means XML/inline.

There is perhaps better documentation about the types of datastreams, but they're at least

[2019-04-02 16:11] lsitu commented on #85
@mcritchlow It seems like there are a couple of bigger issues that we may need to inspect and discuss before moving forward with a solution:

1. What  `work_obj.datastreams` should behave? Should it load any datastream contents or is it a hydra bug?
I see damsrepo return the correct result for all datascreams in the test object [bd24789869](http://lib-hydratail-staging.ucsd.edu:8080/dams/fedora/ob

[2019-04-02 16:49] mcritchlow commented on #85
@lsitu - So as for (1), I was just using `.datastreams` as an example. The issue really manifests itself in the VRR work when calling `.save` on an object. As far as I can tell reading through that method, it's trying to identify if changes were made and whether it actually needs to save them.

Here's where this is getting triggered https://github.com/samvera/rubydora/blob/v1.7.5/lib/rubydora/digi

[2019-04-02 16:59] mcritchlow commented on #85
I'm not sure I follow this part. I think the error is triggered specifically because every datastream has control group set to 'X'. But I may be misunderstanding you on this. I think this ties in to your question about whether this is a 'hydra bug'. I think in the way you framed it, I don't think so. I _think_ the hydra code is trying to be 'smart' about only saving datastreams that have actually

[2019-04-02 17:08] mcritchlow commented on #85
It looks like if `E` or `R` is used as the control group, then the `dsLocation` must be set to the correct URL.

https://github.com/samvera/active_fedora/blob/6-7-stable/lib/active_fedora/datastream_collections.rb#L36

https://wiki.duraspace.org/display/FEDORA38/REST+API#RESTAPI-addDatastream

And it seems that we're doing that for the profile already https://github.com/ucsdlib/damsrepo/blob/devel

[2019-04-02 17:27] lsitu commented on #85
@mcritchlow Yes, we could change it if that is the problem. But method `.datastreams` return the datastream content is the expected behavior? And if the method `content_changed?` just load the profile for the datastreams to comparing the change, then `X` is good to catch the data profile as RDF/XML to compare the content change in the file. If we need to load the datastream content, will the overh

[2019-04-02 18:06] mcritchlow commented on #85
That's a good question, but my impression is that it's already loading the datastream content. When my terminal 'crashed' while doing initial debugging, it was clear that it was pulling down binary content. I'm wary of saying yes to your question of expected behavior, but we're dealing with such old versions of ActiveFedora and Rubydora that... who knows. I suspect the real, possibly only, answer

[2019-04-02 18:15] lsitu commented on #85
@mcritchlow Yes, then I think we can start from change the `dsControlGroup` to see how it goes.
Or is it possible to update the method `content_changed?` to just compare the datastream profile for content file changes, which is in RDF/XML format that won't trigger the error?

[2019-04-02 19:24] mcritchlow commented on #85
Hmm. I mean we could fork the gem and update that method. But I'd be nervous about taking on that responsibility. I suppose it's not obviously _more_ risk than updating the `dsControlGroup` in all our file datastreams, but at least we own that. I don't know, what do you lean towards?

[2019-04-02 21:11] lsitu commented on #85
@mcritchlow I've added PR https://github.com/ucsdlib/damsrepo/pull/86 for it. Let's test it to see how it goes for now. Thanks.

[2019-04-02 21:16] mcritchlow commented on #85
Yeah I think this looks like a great test. Thanks @lsitu !

[2019-04-03 17:05] gamontoya commented on #84
@lsitu I think it's fine to push this to prod.

[2019-04-03 19:16] lsitu commented on #84
@gamontoya Thanks. We'll move it to prod once @mcritchlow confirms the test result of ticket https://github.com/ucsdlib/damsrepo/issues/85 on staging.

[2019-04-05 16:34] mcritchlow commented on #84
@lsitu - From the testing @mdpeters has done so far I think the fix from #85 is having a very positive effect. It's possible something else might arise in the VRR context, but I don't think you need to have that work block your deployment anymore.

[2019-04-05 17:36] lsitu commented on #84
@mcritchlow Okay, let's move it forward to prod then. Thanks.

[2019-04-05 17:38] lsitu commented on #84
@rstanonik All code changes for damsrepo release 4.43 are already in master branch and I think  it's ready for prod now. Thanks.

[2019-04-10 00:01] lsitu commented on #84
@rstanonik Have you got a chance to deploy damsrepo release 4.43 to prod? Thanks.

[2019-04-10 04:22] rstanonik commented on #84
Sorry, didn't notice it earlier.
Deployed to prod now

[2019-04-10 14:39] lsitu commented on #84
Thanks @rstanonik .

[2019-04-30 19:29] #84 closed

[2019-05-09 20:44] gamontoya commented on #82
@lsitu What's the status of this ticket?

[2019-05-09 20:44] #85 closed

[2019-05-09 21:58] lsitu commented on #82
@gamontoya It's done and I think we an close it.

[2019-05-09 21:58] #82 closed

[2019-05-10 15:26] hjsyoo opened #87 "Update DOI function throws an error when geoLocationPoint data is present"
### Descriptive summary

When I try to mint or update a DOI record on an object with geoLocationPoint data, I get the following error:

Error updating DOI: error: bad request - datacite: metadata validation error: Element '{http://datacite.org/schema/kernel-4}geoLocationPoint': Character content other than whitespace is not allowed because the content type is 'element-only'., line 47

For example,

[2019-05-10 15:28] hjsyoo commented on #87
@gamontoya This work is high priority for RDCP, but I removed the label because I don't remember how exactly we are using it.

[2019-05-10 19:02] mcritchlow opened #88 "Fix recurring broken images bug"
We have a fairly consistent bug that results in the following experience for damspas  users:

![image](https://user-images.githubusercontent.com/67506/57550425-301c8f00-731b-11e9-9b93-54111cdcbfe4.png)

The current remedy is that @rstanonik will restart the tomcat for damsrepo and, while this works, it is reactive.

So let's try and see if we can isolate the issue and fix it.

Please attach logs/e

[2019-05-10 19:08] mcritchlow commented on #88
Noting that @rstanonik is going to look into the possibility of adding Honeycomb monitoring to Java/Tomcat apps. If so we'll get that setup to hopefully help with this as well.

[2019-05-10 19:17] mcritchlow commented on #88
@lsitu - Ron found https://docs.honeycomb.io/getting-data-in/java/ for getting Honeycomb setup on a Java app. I can create the Honeycomb datasets and give you that info. But I'm not sure what the best approach is of the 2 for integrating into damsrepo (and maybe damsmanager at some point too).

Here are the Honeycomb datasets (I/we can get you the API key separately, though it'll need to be privat

[2019-05-10 20:15] lsitu commented on #88
@mcritchlow Yes, it's an interesting bug, which happened too often recently. Not sure how that `ArrayIndexOutOfBoundsException` is triggered though. I will look into Honeycomb doc to see how to set it up for damsrepo.

[2019-05-10 21:05] mcritchlow commented on #88
I think we may need some additional debug logging setup for damsrepo, from the current logs it doesn't seem like it'll be possible for us to easily track this down.

[2019-05-10 23:00] lsitu commented on #88
@rstanonik / @mcritchlow What kind of information do we want to send to Honeycomb, something like request path, status, exception etc.? Also, should we just concentrate on sending the information for file requests at this time?

[2019-05-17 18:27] lsitu commented on #88
@rstanonik / @mcritchlow Do you have any suggestions regarding what information we want to send to Honeycomb? It seems like we can add some logging to see whether it helps or not if we don't want to send much information to Honeycomb.
It looks like the issue is caused by the SimpleDateFormat this time, which is not thread safe. I think we can fix it. But I am not sure whether there is another issu

[2019-05-17 19:01] rstanonik commented on #88
Maybe start and end time of requests.
Size?  In case large requests (download mp4) is affecting performance.

It sounds as if you figured out this problem without honeycomb.  Is there any info that would have helped?

[2019-05-17 20:14] lsitu commented on #88
@rstanonik It found some discussion regarding the SimpleDateFormat is not thread safe issue, which seems to be the major issue for the `ArrayIndexOutOfBoundsException` that got recently: https://stackoverflow.com/questions/6840803/why-is-javas-simpledateformat-not-thread-safe.

[2019-05-17 21:12] mcritchlow commented on #88
@lsitu - that sounds like a fantastic start. as you said there may end up being other issues, but if you've isolated that then it would be great to try fixing it. Thanks!

[2019-05-20 20:33] lsitu commented on #88
@mcritchlow / @rstanonik Per our discussions above, I've created PR https://github.com/ucsdlib/damsrepo/pull/89 to fix the broken image issue with the `ArrayIndexOutOfBoundException`. Hopefully there are no other hidden issues that could cause the problem. The PR is ready for review now. Thanks.

[2019-05-21 21:02] gamontoya commented on #87
@VivianChu Something for you to work on after UC DLFx and the long weekend.

[2019-05-29 18:26] VivianChu commented on #87
@hjsyoo @gamontoya - The fix has been deployed to staging.
Could you review it? https://librarytest.ucsd.edu/dc/object/bb6930466p
Here are the screen shot.  Thanks
Before the fix

![beforeFixGeoPointError](https://user-images.githubusercontent.com/1864660/58581519-97d04680-8204-11e9-8607-41cae40d82c1.png)

After the fix

![afterFixGeoPoint](https://user-images.githubusercontent.com/1864660/5858153

[2019-05-29 19:08] gamontoya commented on #87
@VivianChu Looks good on staging!

[2019-05-29 19:29] hjsyoo commented on #87
@VivianChu Agreed, it looks good! Thank you.

[2019-05-29 19:35] VivianChu commented on #87
Thanks @gamontoya @hjsyoo for reviewing.  Currently I'm waiting for the change to get reviewed and merged into the code base.  Whenever it gets merged, I'll create a new release for production.

[2019-05-30 17:01] VivianChu opened #91 "Release 4.44"
## Descriptive Summary

- Version: 4.44
- Release Manager: @VivianChu
- Product Owner and Reviewer: @gamontoya
- Operations: @jhriv or @rstanonik
--------------
## To Verify

- [x]  #87  - Fix Update DOI function geoPoint error

[2019-05-30 17:03] VivianChu commented on #91
@jhriv - Could you deploy new damsrepo release to production at your earliest convenient?  Could you also restart damsolrizer after you deploy damsrepo?  Thanks

[2019-05-30 17:27] gamontoya commented on #88
@lsitu Do you need a release ticket for this?

[2019-06-03 17:34] jhriv commented on #91
Deployed, solrizer restarted

[2019-06-03 17:37] VivianChu commented on #91
Thanks John.

[2019-06-03 17:37] #91 closed

[2019-06-03 17:38] VivianChu commented on #87
@hjsyoo @gamontoya - It works fine in production for me.  https://library.ucsd.edu/dc/object/bb6930466p

[2019-06-03 17:38] #87 closed

[2019-06-13 19:02] #88 closed

[2019-07-08 20:32] mcritchlow opened #92 "Enforce created and modified dates for records"
We have a few direct use cases for the `created` and `modified` events that damsrepo should be persisting.

- https://github.com/ucsdlib/damspas/issues/644 (created)
- https://github.com/ucsdlib/damspas/issues/643 (modified)

However, in discussion w/ @lsitu it seems we are not enforcing that these dates be persisted. This may be for a variety of reasons, including:
- historical ingestion practice

[2019-07-08 21:02] lsitu commented on #92
@mcritchlow I think we've got the events persisted in damsrepo for record creation and record edited, though we may lost it overtime without cares. However, we haven't indexed/utilized those event dates in SOLR for damspas UI display yet. So this seems more like a damspas ticket instead of a damsrepo ticket. What do you think?

[2019-07-08 21:22] mcritchlow commented on #92
@lsitu - I'd love for that to be the case :) My concern though, while doing some cursory testing of some random records, is I'm very rarely seeing either a created or modified date. It might just be that my random set of records I chose fell in the "lost" category.

I think the answer/outcome I'd like to see signed off on this ticket is: "any new or modified records from this point forward will AL

[2019-07-08 21:57] lsitu commented on #92
@mcrichlow I think if searching for predicate dams:event, we should find at least one such predicates. But we need the `/export` option to see the event detail. For example, http://lib-hydratail-prod.ucsd.edu:8080/dams/api/objects/bb0446443f/export.
If you see any records that won't have any events in the object metadata, just send me the example so that I can take a look. Thank you.

[2019-07-08 22:04] mcritchlow commented on #92
@lsitu - Oh, I was looking directly at the /api/events route. This actually does show events for records I wasn't seeing in the api/events route we were chatting about the other day. This actually seems like great news, and perhaps we can indeed move towards figuring out how to get these dates indexed :+1:

[2019-07-09 23:07] mcritchlow commented on #92
@lsitu - here are some thoughts/findings after poking around at this for a few minutes today. I'm hoping you might have some historical perspective with the  damspas code to help connect a few dots for me.

A few things I've noticed, is that we:
- Have a `DamsEvent` model  and datastream setup in damspas, along with a `to_solr` method, etc.
- I cannot find good examples of these events actually in

[2019-07-09 23:26] lsitu commented on #92
@mcritchlow As far as I know, I think you are right that we haven't utilized the dams:Event model in damspas at all. So it's something new for Solr indexing with `to_solr` method.

[2019-07-10 15:49] mcritchlow commented on #92
@lsitu - ok thanks, that seems to be the case as far as i could tell. I was just a bit confused that we'd written all that code, but as far as i could tell weren't using it.

@hweng and @VivianChu - do you know have any thoughts on this? I noticed (not that you'll remember :) ) @VivianChu that it looks like you added the first damsevent commit back in the day https://github.com/ucsdlib/damspas/com

[2019-07-10 17:02] hweng commented on #92
@mcritchlow  Form solr indexing, for example bb90797993, I found the following dates which is related to `created` and `modified`:

system_create_dtsi: "2013-07-01T04:49:07Z",
system_modified_dtsi: "2013-07-01T04:49:07Z",
object_create_dtsi: "1985-01-01T00:00:00Z",
timestamp: "2019-07-09T23:22:40.545Z"

I think the `timestamp` should be the latest modified date, as I edited this record yesterday.

[2019-07-10 17:07] mcritchlow commented on #92
@hweng - Yeah, i admit that after looking at a variety of examples, I'm suspicious of those dates to be honest, at least in the context of what RDCP is hoping to use created/modified dates for.  What they want is only the actual created and modified dates for the objects/collections themselves, whereas these dates are more directly related to the solr document, which could be regenerated for any n

[2019-07-10 17:28] mcritchlow commented on #92
@lsitu - hmm, so here's something interesting related to the comment from @hweng above and my note that those dates _should_ be useful:

Here is where it seems to me that an aggregation of date event processing happens, which seems to prefer just grabbing the most recent Event date available  (with a static fallback date that seems like it should instead be the current date?):

https://github.com/

[2019-07-10 17:48] lsitu commented on #92
@mcritchlow That sound good. Maybe we can adjust the logic a little as you suggested above with the event history in order at mind:
1. only use the created event date for the objCreateDate if presented, otherwise use the earliest modified data
2. have logic for what is currently timestamp for objLastModDate with the latest edited event if presented. Otherwise use the created event.

This could be

[2019-07-10 17:52] mcritchlow commented on #92
@lsitu - I think that sounds great. Your fallback idea for objCreateDate using the oldest(earliest) modified date seems reasonable in the situation that we've somehow lost the create event date.

If you're up for making those adjustments at your convenience, I can start getting a new damspas branch ready so we could test with out w/ Ho Jung and others on QA.

I suspect one implication here is to r

[2019-07-10 17:58] lsitu commented on #92
@mcritchlow It sound great! I'll see work on adjustments on damsrepo shortly. Thanks.

[2019-07-10 20:07] mcritchlow commented on #92
@lsitu - Ok, I have a branch ready for us to test against whenever we're ready https://github.com/ucsdlib/damspas/pull/681

This will leverage both create and modified, so it should give us good coverage on whether these changes are successful.

[2019-07-10 20:28] lsitu commented on #92
@mcritchlow I've created PR https://github.com/ucsdlib/damsrepo/pull/93 for it. It's ready for review now.

[2019-07-10 20:54] #92 closed

[2019-08-05 16:00] mcritchlow opened #94 "Release 4.45"
**NOTE: This is marked WIP until we have had proper review in QA by @gamontoya (@hjsyoo has already signed off on 643 and 644)**

## Descriptive Summary

- Version: 4.45
- Release Manager: @lsitu
- Product Owner and Reviewer: @gamontoya
- Operations: @jhriv or @rstanonik
--------------
## To Verify

- [ ]  #92   - Enforce created and modified  dates for repository records

## Deployment Needs

Ful

[2019-08-05 16:25] lsitu commented on #94
@gamontoya / @mcritchlow I've deployed it to staging and it's ready for review now.

[2019-08-19 22:30] gamontoya commented on #94
@mcritchlow @lsitu This is approved for production.

[2019-08-20 14:55] lsitu commented on #94
@rstanonik / @jhriv I think DAMS Repo release 4.45 is ready for prod. Note that [damspas release 1.93.0](https://github.com/ucsdlib/damspas/issues/699) has dependency on it for full SOLR index.

[2019-08-20 14:58] rstanonik commented on #94
Who does the SOLR index?

[2019-08-20 15:02] rstanonik commented on #94
I deployed DAMS Repo to production.
That included a tomcat restart.

[2019-08-20 15:07] lsitu commented on #94
@rstanonik I can initiate the full SOLR index but I think we have to wait until for dams-solr is deployed. @mcritchlow Could you confirm?

[2019-08-20 17:54] mcritchlow commented on #94
@lsitu : @rstanonik would actually know for sure, but i believe the jenkins plan he has setup for `dams4-solr` updates the environments automatically upon a commit to master. If that's _not_ the case, then yes you're definitely right we need that deployed to prod along w/ the damspas release so we can do the full reindex.

[2019-08-20 20:29] lsitu commented on #94
@rstanonik Do you know `dams4-solr` is auto deployed to prod or not? I will start the full index on prod once you confirm it. Thanks.

[2019-08-20 20:49] rstanonik commented on #94
I deployed dams-solr to production just now

[2019-08-20 21:22] lsitu commented on #94
Thanks @rstanonik. I just initiated full solr index on prod.

[2019-09-04 18:31] #94 closed

[2019-09-04 18:52] mcritchlow opened #95 "Replace Fixes in Pull Request template"
This is causing confusion since work with Stakeholders is often not vetted. Having the ticket automatically close when PRs are closed seems to often cause more trouble than it provides value. So, we shouldn't have this as a default anymore.

[2019-09-27 23:02] lsitu opened #96 "File events are missing from the triplestore"
Events like "file added", "file modified" etc. are erased from the dams triplestore.
This will occurred during technical metadata updating. For example, when file in object https://library.ucsd.edu/dc/object/bb2733859v component 9 was replaced, only the `checksum calculated` event exist in the file metadata, all other events that were added during file ingested are missing.

##
Related ticket #643

[2019-09-30 15:40] lsitu commented on #96
@mcritchlow I've added PR https://github.com/ucsdlib/damsrepo/pull/97 to fix the issue. It's ready for review now. Thanks.

[2019-09-30 16:21] #96 closed

[2019-10-07 17:37] arwenhutt opened #99 "CLR suppressDiscovery access state not working as expected"
When dams:visibility is:
<dams:visibility>suppressDiscovery</dams:visibility>
The CLR is suppressed from discovery (removed from the public index) but it is also not viewable by the public.

Collection Level Records should behave the same as object level records:
- not indexed for public searching
- viewable to the public

Related discussion in this ticket: https://github.com/ucsdlib/damspas/issue

[2019-10-07 17:51] hjsyoo commented on #99
I added myself as an Assignee, only so I can watch this ticket.

[2019-10-07 22:54] lsitu commented on #99
@mcritchlow I've added PR https://github.com/ucsdlib/damsrepo/pull/100 to make the hidden suppressDiscovery CLR read accessible. Thanks.

[2019-10-09 21:06] arwenhutt commented on #99
@jessicahilt can you add @remerjohnson to the ticket so that he can do the testing?

@lsitu Just let him know when it's ready for testing and where to do that (production/qa).

Thanks all!

[2019-10-09 21:39] #99 closed

[2019-10-11 16:27] hjsyoo opened #103 "Update http to https in Mint DOI button functionality"
### Descriptive summary

Background: When the Mint DOI button is used under Curator Tools, the newly minted DOI is displayed at the end of Preferred Citation. Currently, the URL prefix displays "http://doi.org..."

Request: Although that link works, I believe "https://doi.org..." is a more secure redirect method. Also, for consistency for users, can we have the displayed URL be changed to https?

[2019-10-11 16:50] gamontoya opened #102 "Dupe ticket [delete]"
From damsmanager created by [hjsyoo](https://github.com/hjsyoo): ucsdlib/damsmanager#372

### Descriptive summary

Background: When the Mint DOI button is used under Curator Tools, the newly minted DOI is displayed at the end of Preferred Citation. Currently, the URL prefix displays "http://doi.org..."

Request: Although that link works, I believe "https://doi.org..." is a more secure redirect met

[2019-10-11 16:51] #102 closed

[2019-10-11 16:53] gamontoya commented on #103
@VivianChu No rush, but do you have time next week to work on this?

[2019-10-11 16:55] VivianChu commented on #103
@gamontoya - Yes, I have time next week to work on this.

[2019-10-11 21:57] gamontoya opened #104 "Release 4.46"
## Descriptive Summary ##

Version: 4.46
Release Manager: @lsitu
Product Owner and Reviewer: @gamontoya
Operations: @jhriv or @rstanonik

## To Verify ##

- [ ] Suppressed Discovery access (CLR) https://github.com/ucsdlib/damsrepo/issues/99

[2019-10-11 22:42] lsitu commented on #104
@gamontoya @arwenhutt The new release 4.46 for damsrepo is deployed to staging and it's ready for review now. Thanks.

[2019-10-11 23:52] gamontoya commented on #104
@arwenhutt Please let us know if this is working on staging -- I won't approve for prod until this is confirmed.

[2019-10-12 00:28] arwenhutt commented on #104
Thanks! bouncing to @remerjohnson for testing.  (though I can't add assignees to the ticket so he's not going to automatically get notifications)

[2019-10-14 17:49] VivianChu commented on #103
@hjsyoo - Do you want me to change the UI to make the display link to show https or update the data in preferred citation to https ?
For example - <dams:Note>
        <dams:type>preferred citation</dams:type>
        <rdf:value>Geological Data Center at Scripps Institution of Oceanography (2018). 7TOW05WT Seven Tow Leg 5 - Cruise Report. In Data from Scripps Research Expeditions 1953-2005. UC San

[2019-10-14 18:32] hjsyoo commented on #103
@VivianChu If you can do both, that'd be ideal. 1) Change the mint doi function so that when it adds the newly minted doi to Preferred Citation, it displays _and_ links to https://doi.org...  2) Update the text displays and links in all the Preferred Citation records so that instances of the prefix, http://doi.org or http://dx.doi.org are changed to https://doi.org.

Please note that there will be

[2019-10-14 18:42] remerjohnson commented on #104
@gamontoya @arwenhutt @lsitu
I've done some testing on staging. The CLR is now accessible after adding `Suppress public discovery`. (Example: https://librarytest.ucsd.edu/dc/collection/bb3485072m)

However, what exactly is the desired behavior for the CLR now? For example, the collection is still visible when browsing by Collection. Is this acceptable?

[2019-10-14 18:44] VivianChu commented on #103
@hjsyoo  - Yes, this correctly address the questions I had for you.
I can do both.   For #2- if I update the metadata in the preferred citation field and re-index it , then the UI will automatically display the correct information.  I don't have to update damspas UI to do that.  I just need to find all records that have preferred citation field with doi.org link and update the metdata.  I think th

[2019-10-14 19:44] lsitu commented on #104
@remerjohnson I see the visibility of the collection (http://lib-hydratail-staging.ucsd.edu:8080/dams/api/objects/bb3485072m) on staging is public. You may need to update the CLR visibility to &lt;dams:visibility>suppressDiscovery&lt;/dams:visibility> for the expected `suppress discovery` behavior.

[2019-10-14 19:51] hjsyoo commented on #103
Great, it's probably best to update Identifier, so if it's not too much effort, let's go ahead and do that now.
I shouldn't need to resend any data to EZID, because the only URL info we currently "send" is the (DAMS) ARK URL. On the first API call to EZID, I believe we just request a new DOI, which we then display in our UI. We shouldn't be sending the DOI (and certainly not the URL prefix) back t

[2019-10-14 19:53] remerjohnson commented on #104
@lsitu Thanks for that. I updated `<visibility>`, and can no longer browse to the collection when logged out. The direct link still works.

So I would say the tests pass. @gamontoya

[2019-10-14 22:13] gamontoya commented on #104
@remerjohnson Awesome, thank you.

@lsitu This can be pushed to prod.

[2019-10-14 23:19] lsitu commented on #104
Thanks @gamontoya @remerjohnson.
@rstanonik / @jhriv Release 4.46 for damsrepo is ready on master branch for prod deployment now. Thanks.

[2019-10-15 12:54] rstanonik commented on #104
Deployed this morning, including tomcat restart

[2019-10-15 15:50] lsitu commented on #104
Thanks @rstanonik.

[2019-10-15 16:46] VivianChu commented on #103
@hjsyoo, @gamontoya - The metadata for the DOI records have been updated in prod.  Damsrepo has been updated to use https://doi.org... for identifier and preferred citation. It's deployed to staging.
For example,
https://librarytest.ucsd.edu/dc/object/bd04139816  I used Mint DOI function and the DOI url is https now.

Here are some DOI records in production after re-indexing.
https://library.ucsd.

[2019-10-15 18:41] hjsyoo commented on #103
@VivianChu They're behaving perfectly. I updated DOI record on https://library.ucsd.edu/dc/object/bb1540812f, and it still looks fine. Thank you!

[2019-10-15 18:47] VivianChu commented on #103
@hjsyoo - The update for Mint DOI function is not deployed to production yet.  There's no change in the Update DOI function. It's only deployed to staging.  I'll make a request to deploy it to production. You can test the Mint DOI button on staging for test record if you have one.  If not, I can load a test record and you can try that button.  What do you think?  Thanks

[2019-10-15 18:55] hjsyoo commented on #103
Oh, right - I was just checking to make sure Update didn't touch the corrected display. There aren't actually very many objects on test that I can play around with without affecting the actual EZID record, because the Update function will redirect the DOI to the version on staging, which will break the DOI link for the public. No worries, though, I trust that everything works fine!

[2019-10-15 22:32] #103 closed

[2019-10-15 22:42] VivianChu opened #106 "Release 4.47"
## Descriptive Summary ##

Version: 4.47
Release Manager: @VivianChu
Product Owner and Reviewer: @gamontoya
Operations: @jhriv or @rstanonik

## To Verify ##

- [x] Update http to https in Mint DOI button functionality #103

[2019-10-15 22:44] VivianChu commented on #106
@rstanonik / @jhriv - Could you deploy new damsrepo release to production at your earliest convenient? Thanks

[2019-10-16 12:51] rstanonik commented on #106
Deployed this morning and tomcat restarted

[2019-10-16 16:49] VivianChu commented on #106
Thanks @rstanonik

[2019-10-16 16:49] #106 closed

[2019-10-16 16:52] VivianChu commented on #103
@hjsyoo - The update for Mint DOI function has been deployed to production. It's ready to use. Thanks

[2019-10-16 17:38] hjsyoo commented on #103
@VivianChu Thanks so much!

[2019-11-14 18:52] gamontoya opened #107 "Stop counting subcollections as part of a collection's extent count"
## Description

DAMSRepo sub-collections in object counts when it should only count nunber of objects.

## Example

- https://library.ucsd.edu/dc/collection/bb3039464b

Extent shows 98 objects when it should only list 95.

[2019-11-18 16:18] #107 closed

[2019-12-04 22:40] gamontoya commented on #107
@abbypenn93  @lsitu I'm still seeing 98 objects although this ticket is closed.

- https://library.ucsd.edu/dc/collection/bb3039464b

[2019-12-04 23:19] lsitu commented on #107
@gamontoya We haven't released the fix yet. Could you create a new release ticket for damsrepo? Thanks.

[2019-12-05 00:46] #104 closed

[2019-12-05 00:46] gamontoya opened #109 "Release 4.48"
## Descriptive Summary ##

Version: 4.48
Release Manager: @lsitu
Product Owner and Reviewer: @gamontoya
Operations: @rstanonik

## To Verify ##

- [ ] Stop counting subcollections https://github.com/ucsdlib/damsrepo/issues/107

[2019-12-05 00:46] gamontoya commented on #104
Kamino cloned this issue to [ucsdlib/damsrepo](https://github.com/ucsdlib/damsrepo/issues/109)

[2019-12-05 19:21] lsitu commented on #109
@gamontoya @abbypenn93 The new release 4.48 for damsrepo are ready on staging for review now. I think once we update SOLR index on staging for those super collections that have children, the count will display correctly. Just let me know if you want me to update SOLR for collections other than the [dataMares Collection](https://librarytest.ucsd.edu/dc/collection/bb3039464b) on staging. Thanks.

[2019-12-05 20:59] gamontoya commented on #109
@lsitu If you update Solr for all collections, will this pose a problem for ingesting into staging during the update?

[2019-12-05 21:09] lsitu commented on #109
@gamontoya We only need to update the collection record (CLR). So I don't think it'll affect the ingest on staging.

[2019-12-05 21:12] gamontoya commented on #109
@lsitu Okay, so run it for all collections. Thank you.

[2019-12-05 22:24] lsitu commented on #109
@gamontoya I've re-index all 218 collection CLR's on staging, which should be updated in SOLR now.

[2019-12-06 21:53] gamontoya commented on #109
@lsitu Looks good!

[2019-12-06 21:53] gamontoya commented on #109
@lsitu This can be pushed to prod.

[2019-12-06 21:56] lsitu commented on #109
Thanks @gamontoya .
@rstanonik Release 4.48 for damsrepo is ready to move to prod now. Thanks.

[2019-12-09 14:10] rstanonik commented on #109
damsrepo has been deployed to prod and the tomcat restarted

[2019-12-09 23:42] lsitu commented on #109
Thanks @rstanonik .
@gamontoya I've re-indexed all the collection records on prod. The counts for [dataMaMares Collection](https://library.ucsd.edu/dc/collection/bb3039464b) seems to be correct now. Could you take a look? Thanks.

[2019-12-12 22:39] #109 closed

[2020-01-30 01:47] gamontoya opened #110 "Number of object (extent) missing from CLR"
## Descriptive Summary

Recently the number of objects in a collection stop showing up. Seems to be related to a previous ticket where we asked that the system stop counting subcollections as part of a collection's extent (only count objects).

Please re-instate expected behavior.

## Expected Behavior

- See example: https://library.ucsd.edu/dc/collection/bb41312109 (Extent)
## Related Ticket

-

[2020-01-30 20:52] #110 closed

[2020-02-07 00:58] gamontoya opened #112 "Release 4.49"
## Descriptive Summary ##

Version: 4.49
Release Manager: @lsitu
Product Owner and Reviewer: @gamontoya
Operations: @rstanonik

## To Verify ##

- [x] [Number of object (extent) missing from CLR](https://github.com/ucsdlib/damsrepo/issues/110)

[2020-02-07 00:58] gamontoya commented on #109
Kamino cloned this issue to [ucsdlib/damsrepo](https://github.com/ucsdlib/damsrepo/issues/112)

[2020-02-10 23:01] lsitu commented on #112
@gamontoya Release 4.49 for damsrepo is ready on staging for review now, which will fix the missing extent note issue. Thanks.

[2020-02-10 23:49] gamontoya commented on #112
@lsitu This is approved for prod.

[2020-02-10 23:53] lsitu commented on #112
@gamontoya Thanks.
@rstanonik Release 4.49 for damsrepo is ready for prod now. Thank you.

[2020-02-11 14:19] rstanonik commented on #112
damsrepo has been deployed to production, including a tomcat restart

[2020-02-11 15:53] lsitu commented on #112
Thanks @rstanonik . I'll re-index all collection records.

[2020-02-11 19:30] lsitu commented on #112
@gamontoya The collection records on prod are re-index and I think all the collections should have the extent note now.

[2020-02-11 21:28] gamontoya commented on #112
@lsitu Thanks. I'll check to verify.

[2020-03-11 18:24] #112 closed